* {
  /*reset css*/
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #b30000;
}

/*____________inicio cabecalho______________*/
header#cabecalho-principal {
  /*box*/
  background-color: #dddddd;
  width: 100%;
  height: 40px;

  /*posicionamento itens in box*/
  display: flex;
  flex-direction: row;

  /*espacamento itens*/
  justify-content: space-between;
  align-items: center;
}

#pontuacao-game {
  /*background*/
  background-color: #61b1ea;
  border-radius: 30px;

  /*posicionamento box*/
  padding: 10px;
  padding: 5px 50px;
  margin-left: 15px;

  /*font*/
  font-size: 20px;
  color: white;
  font-weight: 700;

  /*posicionamento itens in box*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pontuacao-game img {
  /*posicionamento*/
  margin-right: 15px;
}

#nome-jogo {
  /*font*/
  font-weight: bolder;
  font-size: 27px;

  /*posicionamento*/
  margin-right: 20px;
}
/*______________fim cabecalho______________*/

section#corpo {
  /*itens in box*/
  display: flex;
  flex-direction: row;

  margin-top: 50px;
}

/*______________box esquerdo_______________*/
section#corpo div#esquerda {
  /*posicionamento box*/
  margin-top: 15px;
  margin-left: 10px;

  /*font*/
  color: white;

  /*box itens*/
  display: flex;
  flex-direction: column;
  align-items: center;

  /*tamanho box*/
  width: 60%;
}

section#corpo div#esquerda div#cor-atual {
  /*background-color: yellow;*/

  /*margem*/
  margin-top: 10px;

  /*tamanho box*/
  height: 200px;
  width: 200px;

  /*borda box*/
  border: 10px solid black;
  border-radius: 15px;
}

section#corpo div#esquerda button#btn-responder {
  /*background*/
  background-color: transparent;

  /*margem*/
  margin-top: 10px;

  /*padding*/
  padding: 15px 45px;

  /*font*/
  color: white;
  font-size: 25px;
  font-weight: bold;

  /*border*/
  border: 3px solid white;
  border-radius: 5px;
}
/*__fim_________box esquerdo_______________*/

/*__inicio______box direito________________*/

section#corpo div#direita {
  /*tamanho box*/
}

/*__fim______box direito____________*/

/*footer*/

div#container footer#rodape {
  background-color: rgb(26, 26, 32);

  /*font*/
  font-size: 25px;
  color: white;
  font-weight: bold;

  /*posicionamento box*/
  position: fixed;
  bottom: 0px;

  /*box*/
  width: 100%;

  /*itens in box*/
  display: flex;
  justify-content: space-around;
  align-items: center;

  /**/
  padding: 50px;
}
